
  <div class="container-fluid">
    
    <div class="panel panel-primary">
    
    <div class="panel-heading"><h2>People Tracker</h2></div>
    
    <div class="panel-body">



      <h1 class="text-success">Greetings from EmberJS 2.x MVC </h1>


</div>
    
</div>
    
    
    {{outlet}}
    
</div>


