
  <div class="panel panel-danger">
    
    <div class="panel-heading">Programmers</div>
    
    <div class="panel-body text-primary">


{{programmer-list title="List of Programmers" people=model}}

</div>
</div>


