



    
    <div class="panel panel-success">
    
    <div class="panel-heading">Scientists</div>
    
    <div class="panel-body text-primary">

{{people-list title="List of Scientists" people=model}}

</div>
    
</div>
    


